:root {
  --main-font: "Raleway", sans-serif;
  --basik-color: #212121;
}
body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03;
  color: var(--basik-color);
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.header {
  background-color: rgb(176, 224, 225);
}
